<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EscrowDAO">

	<resultMap type="com.ggul.zip.escrow.EscrowVO" id="escrowMap">
		<result property="escrow_user_id" column="escrow_user_id" />
		<result property="escrow_tiper_code" column="escrow_tiper_code" />
		<result property="escrow_lesson_num" column="escrow_lesson_num" />
		<result property="escrow_status" column="escrow_status" />
		<result property="escrow_price" column="escrow_price" />
		<result property="escrow_start" column="escrow_start" />
		<result property="escrow_end" column="escrow_end" />
		<result property="tiper_user_id" column="tiper_user_id" />
		<result property="lesson_title" column="lesson_title" />
	</resultMap>

	<select id="getEscrowList" parameterType="escrow"
		resultMap="escrowMap">
		SELECT escrow.*, tiper.tiper_user_id AS tiper_user_id,
		lesson.lesson_title AS lesson_title
		FROM escrow
		LEFT JOIN tiper ON
		escrow.escrow_tiper_code = tiper.tiper_code
		LEFT JOIN lesson ON
		escrow.escrow_lesson_num = lesson.lesson_num
		WHERE 1 = 1
		<if test="startDate != null and startDate != ''">
			<!-- <![CDATA[ AND escrow_start >= ]]>#{startDate} -->
         <![CDATA[ AND DATE_FORMAT(escrow_start,'%Y%m%d') >= DATE_FORMAT( #{startDate} ,'%Y%m%d')  ]]>
		</if>
		<if test="endDate != null and endDate != ''">
			<!-- <![CDATA[ AND escrow_start <= ]]>#{endDate} -->
  		<![CDATA[  AND DATE_FORMAT(escrow_start,'%Y%m%d') <=  DATE_FORMAT(#{endDate},'%Y%m%d') ]]>
		</if>
		ORDER BY escrow_start DESC
	</select>

	<!-- escrowList에서 사용 -->
	<select id="getEscrowListByStatus" parameterType="escrow"
		resultMap="escrowMap">
		SELECT escrow.*, tiper.tiper_user_id AS tiper_user_id,
		lesson.lesson_title AS lesson_title
		FROM escrow
		LEFT JOIN tiper ON escrow.escrow_tiper_code = tiper.tiper_code
		LEFT JOIN lesson ON escrow.escrow_lesson_num = lesson.lesson_num
		WHERE escrow_status = #{escrow_status}
		<if test="startDate != '' and endDate != ''">
			<!-- <![CDATA[ AND escrow_start >= #{startDate} AND escrow_start <= #{endDate} 
				]]> -->
  
  <![CDATA[ AND DATE_FORMAT(escrow_start,'%Y%m%d') >= DATE_FORMAT( #{startDate} ,'%Y%m%d') AND DATE_FORMAT(escrow_start,'%Y%m%d') <=  DATE_FORMAT(#{endDate},'%Y%m%d') ]]>
		</if>
		<if test="startDate != '' and endDate == ''">
			<!-- <![CDATA[ AND escrow_start >= #{startDate} ]]> -->
  <![CDATA[ AND DATE_FORMAT(escrow_start,'%Y%m%d') >= DATE_FORMAT( #{startDate} ,'%Y%m%d')  ]]>
		</if>
		<if test="startDate == '' and endDate != ''">
			<!-- <![CDATA[ AND escrow_start <= #{endDate} ]]> -->
  <![CDATA[  AND DATE_FORMAT(escrow_start,'%Y%m%d') <=  DATE_FORMAT(#{endDate},'%Y%m%d') ]]>
		</if>
		<if test="startDate == '' and endDate == ''">
			AND 1=1
		</if>
		ORDER BY escrow_start DESC;
	</select>

	<!-- disputeSolution에서 리스트부를때 사용 -->
	<select id="getDisputeResolutionList" parameterType="escrow"
		resultMap="escrowMap">
		SELECT escrow.*, tiper.tiper_user_id AS tiper_user_id,
		lesson.lesson_title AS lesson_title
		FROM escrow
		LEFT JOIN tiper ON
		escrow.escrow_tiper_code = tiper.tiper_code
		LEFT JOIN lesson ON
		escrow.escrow_lesson_num = lesson.lesson_num
		WHERE escrow_status IN (0,
		1)
		ORDER BY escrow_start DESC;
	</select>
	<!-- disputeSolution에서 키워드검색때 사용 -->
	<select id="searchDispute" parameterType="escrow"
		resultMap="escrowMap">
		SELECT escrow.*, tiper.tiper_user_id AS tiper_user_id,
		lesson.lesson_title AS lesson_title
		FROM escrow
		LEFT JOIN tiper ON
		escrow.escrow_tiper_code = tiper.tiper_code
		LEFT JOIN lesson ON
		escrow.escrow_lesson_num = lesson.lesson_num
		WHERE escrow_status IN (0,
		1)
		<if test="search_condition == 'escrow_user_id' "> AND escrow_user_id LIKE CONCAT('%',
			#{search_keyword},'%')</if>
		<if test="search_condition == 'tiper_user_id' "> AND tiper_user_id LIKE CONCAT('%', #{search_keyword},'%')
		</if>
		ORDER BY escrow_start DESC;
	</select>

	<select id="searchAndStatus" parameterType="escrow"
		resultMap="escrowMap">
		SELECT escrow.*, tiper.tiper_user_id AS tiper_user_id, lesson.lesson_title
		AS lesson_title
		FROM escrow
		LEFT JOIN tiper ON escrow.escrow_tiper_code = tiper.tiper_code
		LEFT JOIN lesson ON escrow.escrow_lesson_num = lesson.lesson_num
		WHERE
		(
		escrow_status = #{escrow_status}
		AND (
		(
		#{search_condition} = 'escrow_user_id'
		AND escrow_user_id LIKE CONCAT('%', #{search_keyword}, '%')
		)
		OR (
		#{search_condition} = 'tiper_user_id'
		AND tiper_user_id LIKE CONCAT('%', #{search_keyword}, '%')
		)
		)
		)
		OR (
		#{search_condition} IS NULL
		AND #{search_keyword} IS NULL
		AND escrow_status = #{escrow_status}
		)
		ORDER BY escrow_start DESC;
	</select>
	<select id="checkStatus" resultType="_int">
		SELECT escrow_status FROM
		escrow WHERE escrow_num=#{escrow_num}
	</select>

	<update id="updateStatus0103" parameterType="escrow">
		UPDATE ESCROW
		SET ESCROW_STATUS = 3, ESCROW_END=SYSDATE()
		WHERE escrow_num =#{escrow_num}
	</update>

	<insert id="insertTiperPointList">
		INSERT INTO POINT
		(point_id, point_price, point_history, point_time)
		VALUES(#{tiper_user_id},FLOOR(#{escrow_price} * 0.95),CONCAT('강의명:',
		#{lesson_title}, ', 수강회원:', #{escrow_user_id}, ', [관리자]완료'),
		SYSDATE())
	</insert>

	<update id="updateTiperPoint">
		UPDATE users
		SET user_point =
		( SELECT SUM(point_price)
		FROM point
		WHERE
		point_id = #{tiper_user_id})
		WHERE user_id = #{tiper_user_id}
	</update>

	<update id="updateStatus04" parameterType="escrow">
		UPDATE ESCROW
		SET ESCROW_STATUS = 4, ESCROW_END=SYSDATE()
		WHERE escrow_num =#{escrow_num}
	</update>

	<insert id="insertUserPointList">
		INSERT INTO POINT
		(point_id, point_price, point_history, point_time)
		VALUES(#{escrow_user_id},#{escrow_price},CONCAT('강의명:',
		#{lesson_title}, ', 강사id:', #{tiper_user_id}, ', [관리자]취소'), SYSDATE())
	</insert>

	<update id="updateUserPoint">
		UPDATE users
		SET user_point =
		( SELECT SUM(point_price)
		FROM point
		WHERE
		point_id = #{escrow_user_id})
		WHERE user_id = #{escrow_user_id}
	</update>

	<insert id="insertSalesCommission">
	  INSERT INTO SALES
	  VALUES(FLOOR(#{escrow_price} * 0.05), default)
   </insert>


	<!-- 여기까지 보영 -->


	<!-- 현민 -->
	<!-- 신청받은 강의목록 조회 -->
	<select id="select_escrow"
		parameterType="com.ggul.zip.escrow.EscrowVO"
		resultType="com.ggul.zip.escrow.EscrowVO">
		select lesson_num AS escrow_lesson_num, lesson_title, lesson_tiper_code AS
		escrow_tiper_code
		from lesson
		where lesson_onoff = 1 and lesson_num = any(select escrow_lesson_num
		from escrow
		where escrow_user_id = #{escrow_user_id} AND escrow_tiper_code = (select
		tiper_code
		FROM tiper
		WHERE tiper_user_id = #{tiper_user_id}) AND escrow_status = 0)
	</select>


	<!-- 가격 업데이트 -->
	<update id="update_price"
		parameterType="com.ggul.zip.escrow.EscrowVO">
		UPDATE escrow
		SET ESCROW_PRICE = #{escrow_price},
		ESCROW_START = #{startDate}
		WHERE ESCROW_USER_ID = #{escrow_user_id}
		and
		ESCROW_TIPER_CODE = #{escrow_tiper_code} and
		ESCROW_LESSON_NUM = #{escrow_lesson_num} and
		ESCROW_STATUS = 0
	</update>


	<!-- 강의상태 업데이트 -->
	<update id="escrow_status"
		parameterType="com.ggul.zip.escrow.EscrowVO">
		UPDATE escrow e
		INNER JOIN users u ON e.ESCROW_USER_ID =
		u.user_id
		SET e.ESCROW_STATUS = 1, u.USER_POINT = u.USER_POINT -
		e.ESCROW_PRICE
		WHERE e.ESCROW_USER_ID = #{escrow_user_id}
		AND
		e.ESCROW_TIPER_CODE = #{escrow_tiper_code}
		AND e.ESCROW_LESSON_NUM =
		#{escrow_lesson_num}
		AND e.ESCROW_STATUS = 0
		AND u.user_id =
		#{escrow_user_id}
		AND u.USER_POINT >= e.ESCROW_PRICE
	</update>


	<!-- 강의상태 조회 -->
	<select id="select_status"
		parameterType="com.ggul.zip.escrow.EscrowVO"
		resultType="com.ggul.zip.escrow.EscrowVO">
		SELECT escrow_status
		FROM escrow
		WHERE escrow_user_id = #{escrow_user_id}
		AND escrow_tiper_code =
		#{escrow_tiper_code}
		AND escrow_lesson_num = #{escrow_lesson_num}
	</select>

	<!-- 성현 -->
	<insert id="insertEscrow">
		INSERT INTO ESCROW (ESCROW_USER_ID,
		ESCROW_TIPER_CODE, ESCROW_LESSON_NUM) VALUES (#{escrow_user_id},
		#{escrow_tiper_code} ,#{escrow_lesson_num});
	</insert>

	<update id="updateEscrowStatus12">
		UPDATE ESCROW SET ESCROW_STATUS=2, ESCROW_END=NOW() WHERE ESCROW_USER_ID =
		#{escrow_user_id} AND ESCROW_LESSON_NUM=#{escrow_lesson_num}
	</update>

</mapper>
