@charset "UTF-8";
* {
    box-sizing: border-box;
}

.join_info_table .td_left {
    text-align: left;
    padding: 5px 15px;
    width: 180px;
    background-color: none;
    border-radius: 5px;
    font-weight: bolder;
    color: #382407;
    display: block;
}

.join_info_table {
    border-spacing: 0 5px;
}

.join_info_table .td_right input {
    margin: 5px 0;
}

.form_section_join input {
    height: 35px;
    width: 315px;
    border: 2px solid #efefef;
    border-radius: 3px;
    padding: 0 10px;
}

.join_info_table .td_right {
    padding: 0 15px 0 15px;
    border-bottom: none; 
    display: block;
    text-align: center;
}

.join_info_table button {
    background-color: #ffd400;
}

.form_section_join button {
    width: 120px;
    height: 33px;
    border: none;
    border-radius: 3px;
    font-weight: bolder;
    color: #382407;
}

.form_section_join .join_radio input {
    height: 15px;
    width: 15px;
}

.join_info_table .join_id_input {
	width: 188px;
}

.form_section_join #commandCell button {
	width: 100px;	
	margin: 0 5px;
}

.form_section_join #commandCell {
	text-align: center;
}