@charset "UTF-8";



  
.noticeCont{
        padding: 0px;
    }

    span{
        text-align: right;
    }

    #logo{
        width: 150px;
        text-align: left;
        margin-left:10%;
    }

    
    #spnNotice{
        font-size: 17pt;
        font-weight: bolder;
        
    }
    .hrFirst{
        border: 0;
        height: 2px;
		background-color: transparent;
    }

    #iptSerch{
        text-align: right;
        border-radius: 10px;
    }

    .divLeft{
        float: left;
        vertical-align: middle;
    }

    .divRight{
        float: right;
        vertical-align: middle;
    }

    #tblMain{
        width: 100%;
        border:1px solid #000;
    }
    
    #pagingul{
    text-align: center;
    padding-left: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	margin-bottom: 65px;
    }
    
#btnSearch{
	border:0;
	border-radius: 10px;
	background-color: #FFD400;
	font-size: 14px; 
}


#pagingul li {
  margin-right: 5px;
}

#pagingul li a {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

#pagingul li.on a {
  background-color: #FFBB00;
  color: #fff;
}
#pagingul li a:hover {
  background-color: #FFD400;
  color: #fff;
}

th, td{
	padding: 10px 0px;
	text-align: center;
	border-bottom: 3px solid white;
}

#iptSearch{
	padding: 5px;
	font-size: 14px;
	width: 200px;
}

#selCondition{
	height: 34px;
	padding: 5px;
	font-size: 14px;
}
#allSearch{
	border-style: none;
    background: #FFD400;
    color: #5c3b0c;
    margin: 5px;
    padding: 5px 18px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bolder;
    border-radius: 4px;
}
#allSearch:hover{
	background-color: #FFBB00;
}

i.fa.fa-search:hover{
	color: #FFBB00!important;
}

	
.noticeTitle{
	text-align: left;
}

.theadColor{
	background-color: #efefef;	
}

.noticeTr:hover{
	text-decoration: underline;	
}