@charset "UTF-8";

/* # Header, Main Menu================================ */

*{
	font-family: none;
}

#pagingul li a{
	border-radius: 4px;
}

.menu_hr{
	margin: 0 0 7px 0;
	width: 100%;
}

#main-navbar{
   border-bottom: solid 0.5px #D2D2D2;
}

.navbar {
   opacity: 0.8;
   margin-bottom: 0;
   background-color: #fff;
   transition: all 0.2s ease-out;
   display: contents;
}

.navbar-container {
   position: relative;
   margin: 0 auto;
}

.navbar .navbar-nav {
   margin-left: -100px;
}

.navbar .navbar-nav li a {
   font-size: 18px;
   text-transform: capitalize ;
   color: #2e1c05;
   transition: all 0.2s ease-out;
}

.navbar-brand {
   font-size: 25px;
   transition: all 0.2s ease-out;
   padding: 5px;
}

.navbar-brand img {
   width: 100px;
}

.navbar-scroll {
   opacity: 1;
}

#top-social-menu {
   display: none;
}

.dropdown-menu li a:hover {
	background: none;
	background-color: #FFBB00;
	border-radius: 4px;
}

.side-menu{
	top: 35px;
}

.dropdown-menu{
   animation-name: slide-down;
   animation-duration: 0.6s;
   animation-fill-mode: forwards;
}


@keyframes slide-down {
   0% {
      transform: translateY(-7%);
   }
   100% {
      transform: translateY(0);
   }
}

.subDropdown-menu li:hover{
	width: 100%;
	background-color: #FFBB00;
}

@media ( min-width : 1500px) {
   .navbar-container {
      width: 100%;
      margin: 0 auto;
      max-width: 90%;
   }
}

@media ( min-width : 768px) {

   #open {
      opacity: 0;
   }
   
   .navbar .navbar-nav li a {
    font-weight: bolder;
    font-size: 18px;
    text-transform: capitalize;
    color: #2e1c05;
    transition: all 0.2s ease-out;
   }
   
   .navbar {
      height: 120px;
   }
   .navbar-nav>li>a {
      padding: 0;
      margin-top: 35px;
      margin-left: 30px;
      line-height: 70px;
   }
   .navbar-brand {
      font-size: 20px;
      height: 120px;
      line-height: 120px;
      display: none;
   }
   .navbar-brand img {
      transform: translateX(0px);
   }
   #top-social-menu {
      display: initial;
   }

   /* Navbar when scrolled */
   .navbar-scroll {
      height: 70px;
   }
   .navbar-scroll #top-social-menu {
      display: none;
      transition: all 0.2s ease-out;
   }
   .navbar-scroll .navbar-nav>li>a {
      opacity: 1;
      padding: 0;
      margin-top: 0;
   }
   .navbar-nav>li>a::after {
      text-decoration: none;
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #FFBB00;
      content: "";
      opacity: 0;
      transform: translateY(-);
   }
   
   .navbar-nav>li>a:hover::after, .navbar-nav>li>a:focus::after {
      text-decoration: none;
      height: 2px;
      opacity: 1;
      transform: translateY(0px); 
   }
   
   .navbar-nav>:nth-child(1)>a:hover::after, .navbar-nav>:nth-child(1)>a:focus::after
      {
      opacity: 0;
   }
   .main {
      display: block;
   }
   #nav1 {
      display: none;
   }
   #send_msgImg {
      display: none;
   }

}

@media ( max-width : 767px) {
   #send_msgImg {
      float: right;
      margin-right: 60px;
      margin-top: 10px;
   }
   .main {
      display: none;
   }
   
   #send_msgImg {
      float: right;
      margin-right: 80px;
      margin-top: 8px;
   }
   
   .msg_reload{
        margin-right: 20px;
   }
}

@media ( max-width : 1100px) {
   .main{
      display: none;
   }
}

/* # Social menu
================================ */
#top-social-menu {
   position: absolute;
   top: 7px;
   right: 0;
   font-size: 13px;
   z-index: 101;
   padding-right: 0px;
   list-style: none;
   color: #2e1c05;
   /*    transition: all 0.2s ease-out; */
}

#top-social-menu li {
   float: left;
   padding: 10px 15px;
}

#top-social-menu li:last-child {
   padding-right: 0;
}

#top-social-menu li a {
   text-decoration: none;
   color: #2e1c05;
}

#top-social-menu li a:hover {
   text-decoration: none;
   color: #543a1a;
}

#top-social-menu i {
   font-size: 16px;
   transition: all 0.2s ease-in;
}

#top-social-menu i:hover {
   text-decoration: none;
   color: #543a1a;
}

.open1 {
   position: absolute;
   display: block;
   color: #FFD400;
   font-size: 3rem;
   top: 5px;
   right: 5%;
   cursor: pointer;
   opacity: 1;
   transition: 0.3s;
   font-size: 50px;
   transform: translate(0px, -13px);
}

.nav1 {
   position: absolute;
   top: 0;
   right: 0;
   text-align: right;
   width: 0%;
   overflow-x: hidden;
   height: 100vh;
   z-index: 99999;
   position: fixed;
   background: white;
   transition: 0.3s;
}

.nav1 a {
   color: black;
   font-size: 15px;
   text-decoration: none;
   display: block;
   transition: 0.3s;
   clear: both;
   padding: 10px 20px 10px 20px;
   font-size: larger;
}

.userName {
   font-weight: bold;
   margin-top: 50px;
   padding-right: 20px;
   text-algin: right;
   font-size: 16px;
}

.appMenu1 a {
/*    border-bottom: solid 0.5px #D2D2D2; */
   margin: 20px 5px;
}

.appMenu2 {
   width: 90%;
/*    border: solid 2px #FFD400; */
   margin: 30px 0 30px 30px;
   padding: 10px 0 10px 10px;
   text-align: center;
   text-decoration: underline;
   text-decoration: underline;
   text-align: right;
   
}

.appMenu3{
   width: 90%;
   text-align: center;
   border: solid 0.5px #D2D2D2;
   padding: 0px;
   margin: 0 auto;
   
   border: none;
   border-spacing: revert;
   border-collapse: inherit;
}

.appMenu3 td {
/* 	border: solid 0.5px #D2D2D2; */
/*     background-color: #FFD400; */
/*     border: none; */
    border: solid 0.5px #D2D2D2;
    border-radius: 8px;
}


.appMenu2Img {
    width: 10px;
    transform: translate(0px, 4px);
}

.logInOut {
   background-color: #FFD400;
   width: 90%;
   text-align: center;
   margin: 0 auto;
   border-radius: 8px;
}

.close {
   color: #FFD400 !important;
   width: 40px;
   height: 40px;
   line-height: 3rem;
    margin: 10px 10px 0px 10px;
   padding-bottom: 30px;
   font-size: 30px !important;
   cursor: pointer;
   transform: translate(-13px,-10px);
   opacity: 1;
}

.nav a:not(:first-child):hover {
   text-decoration: none;
   background: royalblue;
}

/* Styles for wrapping the search box */
.main {
   width: 100%;
   margin: 50px auto;
}

.main form>:nth-child(1) {
   display: flex;
}

.main form>:nth-child(1)>:nth-child(1) {
/*    margin-left: 150px; */
}
/* Bootstrap 4 text input with search icon */
.has-search .form-control {
   padding-left: 2.375rem;
}

.has-search .form-control-feedback {
   position: absolute;
   z-index: 2;
   display: block;
   width: 2.375rem;
   height: 2.375rem;
   line-height: 2.375rem;
   text-align: center;
   pointer-events: none;
   color: #aaa;
}

.btn-secondary {
   transform: translate(125px, -34px);
}

.dropdown:hover .dropdown-menu {
   display: block;
}

/*로고 위치 수정하기*/
 .navbar-left>:nth-child(1) img { 
    transform: translate(40px, -10px); 
    width: 150px; */
 }

.search-container {
   position: relative;
   display: inline-block;
   border-radius: 20px;
   overflow: hidden;
}

.search-input:active, .search-input:focus {
   border: 2px solid #FFBB00;
}

.search-input {
   padding: 10px;
   border: 2px solid gray;
   border-radius: 20px;
   outline: none;
   width: 300px;
   position: relative;
}

.search-button {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   padding: 5px;
   background-color: transparent;
   border: none;
   outline: none;
   cursor: pointer;
}

.search-button i {
   font-size: 20px;
}

.honeycomb{
   width: 30px;
   height: auto;
}